<h1>Dimitrivsky's blogue</h1>
<!DOCTYPE HTML5>
<html>
	<head>
	<meta charset="utf-8">
	<style>
		body {text-align:center; font-family: Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif; background-color: black}
		img {
			width: 250px;
			margin-top: 30px;
			border-radius: 10px}
		#pagetitle {margin-top: 18px; color:#CCCDC5; font-size: 30px}
		#pagecontent {color: grey}
		</style>
	</head>
<body>

<img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/208474_10150164947379279_1691961_n.jpg?oh=de22651db53559cceb3a517c1ce01f14&oe=55346FF2&__gda__=1430302540_df9700bc1dc93c4d0944259bc1c20463" alt="Strasbourg"></img>

	<article>
		<div id="pagetitle">
			{{page.title}} 
		</div>
		<div id="pagecontent">
			{{content}}
		</div>
	</article>

</body>
</html> 
