<!DOCTYPE HTML5>
<html>
	<head>
	<meta charset="utf-8">
	<style>
		body {text-align:center; font-family: Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif; background-color: black}
		img {
			margin-top: 30px;
			border-radius: 10px}
		#pagetitle {margin-top: 18px; color:#CCCDC5; font-size: 30px}
		#pagecontent {color: gray; margin: auto; width:400px; text-align: left;}
		</style>
	</head>
<body>

<img src="https://dimitrivskyh.files.wordpress.com/2010/10/cropped-indie-jai.jpg"></img>

	<article>
		<div id="pagetitle">
			{{page.title}} 
		</div>
		<div id="pagecontent">
			{{content}}
		</div>
	</article>

</body>
</html> 
